* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; 
    background-color: #f2f2f2;
}

.header {
    color: white;
    padding: 0px 0px 20px 0px;
    text-align: center;
    position: relative;
}

.header__image {
    width: 100%;
    height: 15rem;
    padding: 0px 0px;
}

.search-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #ddd;
    line-height: 1.5;
}

.search-button {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.principal {
    margin: 1rem 5rem;
}

.principal__volta {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-end;
}

.result-container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-table {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.buttons-container div {
    text-align: center;
}

.buttons-container img {
    max-width: 150px;
    margin-top: 10px;
}

.btn {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    display: block;
}

.footer {
    color: white;
    padding: 20px 0px 0px 0px;
    text-align: center;
    position: relative;
}

.footer__img {
    width: 100%;
    height: 120px;
}

.footerimg {
    position: relative;
    top: 290px;
    width: 100%;
    height: 120px;
}
.logo {
    max-width: 100px; /* Defina um tamanho máximo para a logo */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Faz com que a imagem seja exibida como um bloco */
    margin: 10px auto; /* Centraliza a imagem horizontalmente */
}
